@media screen and (max-width: 1012px) {
  /* Header */
  header{
    height: 5.2rem;
    padding: initial;
  }
  header .container {
    padding: 0 4rem;
  }
  nav{
    justify-content: space-between;
  }
  .nav-mobile{
    display: block;
  }
  .nav-menu{
    flex-direction: column;
    position: fixed;
    top:0;
    right: 0;
    width: 30rem;
    height: 100vh;
    background-color: var(--white);
    align-items: initial;
    box-shadow: 0 10px 50px rgba(27,31,35,.15);
    transform: translateX(50rem);
    transition: transform 0.1ms;
    z-index: 100;
    &.open{
      transform: translateX(0);
    }
    .btn-login,.btn-register{
      color: var(--river-bed-2);
    }
  }
  .menu-close-icon{
    display: flex;
  }
  .nav-main-menu{
    flex: initial;
    max-height: 65%;
    overflow: auto;
  }
  .nav-main-links{
    flex-direction: column;
    padding: 0 1.6rem;
  }
  .nav-main-item{
    padding: 1.6rem 0;
    border-bottom: 1px solid var(--athens-gray-3);
    &.open .nav-dropdown-menu{
      display: block;
    }
  }
  .nav-main-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--river-bed-2);
    i{
      color: inherit;
      font-size: 1.5rem;
    }
  }
  .nav-dropdown-menu{
    visibility: initial;
    opacity: initial;
    transition:initial;
    background: initial;
    position: initial;
    width: initial;
    border-radius:initial;
    padding:2rem 0;
    box-shadow:initial;
    display: none;
  }
  .dropdown-body{
    border-bottom:initial;
  }
  .nav-form{
    flex: initial;
    flex-direction: column;
    grid-row-gap: 2rem;
    justify-content: initial;
    align-items: flex-start;
    margin: 3rem 1.6rem;
    padding-right: .1rem;
    overflow: hidden;
  }
  .search-form{
    width: 95%;
    border: 1px solid var(--athens-gray);
    &:focus-within {
      background-color: var(--athens-gray-2);
    }
    input{
      color: var(--dark-blue);
      &::placeholder{
        color: var(--gray-2);
      }
    }
  }
  .search-hint{
    width:  calc(100% + 1.5rem);
  }
  .nav-btn-wrap{
    width: 100%;
    text-align: center;
    margin: .5rem 0 1rem;
  }

  /* Hero */

  .hero-text{
    width: 90%;
  }

  /* Github Enterprise */
  .enterprise-content{
    flex-direction: column;
  }
  .enterprise-title{
    flex-basis: initial;
    padding: initial;
    text-align: center;
  }
  .enterprise-items{
    flex-basis: initial;
    margin-top: 2.5rem;
    width: 100%;
    text-align: center;
    align-items: flex-end;
  }
  .enterprise-item{
    &:nth-child(2){
      p{
        margin-bottom: 2rem;
      }
    }
  }


  /* Github For Teams */
  .for-teams-content{
    flex-direction: column;
    .warning{
      flex:initial;
      width: 4.5rem;
    }
    .description{
      padding: 0;
      margin-bottom: 1rem;
    }
  }
  .try-github-free{
    flex-basis: initial;
  }
  .btn-try-github-free{
    width: 100% ;
  }

  /* Features */
  .features-content{
    flex-direction: column;
  }
  .features-head-img{
    flex: initial;
    padding: 0;
    display: flex;
    justify-content: center;
    img{
      width: 60%;
    }
  }
  .features-item-img{
    right: 0;
    width: 40%;
    display: flex;
    justify-content: center;
  }
  .card{
   min-width:25rem;
  }

  /* Integrations */
  .integration-item{
    &:nth-child(even){
      margin: 0;
    }
  }


  /* Community */
  .community-footer{
    width: calc(100% + 2rem);
    max-width: initial;
  }
  .statistic.developers {
    .statistics-number{
      top: 10rem;
      left: 18.5rem;
    }
  }
  .statistic.businesses {
    .statistics-number{
      top: 22rem;
      left: 10rem;
    }
  }
  /* Signup Section */
  .signup{
    padding: 5rem 0 10rem;
  }
  .signup-form{
    flex-direction: column;
    grid-gap: 1rem;
  }


  /* Footer */
  .footer-body{
    flex-direction: column;
  }
}
@media screen and (max-width: 900px) {
  .card{
    min-width:20rem;
  }
}


@media screen and (max-width: 768px) {
  main{
    margin: 0;
  }
  /* Hero */
  .hero-content{
    flex-direction: column;
  }
  .hero-text-wrap{
    flex-basis: initial;
    text-align: center;
  }
  .hero-text{
    width: initial;
  }
  .hero-title{
    font-size: 4.8rem;
  }
  .hero-form{
    margin-top: 3rem;
    flex-basis: initial;
    display: flex;
    justify-content: center;
  }

  /* Github Enterprise */
  .enterprise-head-img{
    display: none;
  }
  .enterprise-title{
    h2{
      font-size: 2.6rem;
    }
    p{
      font-size: 1.8rem;
    }
  }

  /* Github For Teams */
  .for-teams-content{
    padding: 2.5rem;
    .warning{
      padding: 0;
    }
  }

  /* Organizations */
  .organizations-title{
    font-size: 1.8rem;
  }
  .organization-logo{
    max-height: 2rem;
  }
  .organization-item{
    padding: 1rem 3rem;
  }

  /* Github Team Signup */
  .section-title{
    font-size: 4rem;
  }
  .cards{
    grid-gap: 1.5rem;
  }
  .card{
    min-width: 21.5rem;
    max-width: 50%;
  }

  /*  Administration */
  .administration-body{
    flex-direction: column;
  }
  .administration-body-img{
    order: 1;
  }
  .administration-items{
    order: 2;
  }
  .administration-card{
    max-width: initial;
  }

  /* Integrations */
  .integration-footer{
    p{
      max-width: 40rem;
    }
    a{
      font-size: 1.45rem;
    }
  }


  /* Community */
  .statistics{
    padding-left: 0;
  }

  .statistic.repositories,.statistic.developers,.statistic.businesses {
    .statistics-number{
     position: initial;
      margin: 1.5rem auto;
    }
    .features-item{
      max-width: initial;
    }
  }
  .community-footer{
    width: initial;
  }
  .statictics-date{
    padding:0;
    margin-top: 3rem;
  }

  /* Signup Section */
  .signup-title{
    font-size: 2.6rem;
  }


  /* Footer */
  .footer-col{
    padding-right: 1rem;
  }
}
@media screen and (max-width: 544px) {

  /* Header */
  .container, header .container{
    padding: 0 2rem;
  }

  /* Hero */
  .hero-form{
    display: none;
  }
  .hero-title{
    text-align:left;
  }


  /* Github Enterprise */
  .enterprise-items{
    flex-direction: column;
    align-items: center;
    grid-row-gap: 2.5rem;
  }
  .enterprise-item{
    &:nth-child(2)  p{
        margin: 0;
      }
  }

  /* Features */
  .features{
    flex: initial;
  }
  .features-head-img{
    img{
      width: 80%;
    }
  }
  .features-item{
    border-radius: initial;
    padding-left: initial;
    padding-right: initial;
    border: initial;
    &:hover{
      box-shadow: initial;
    }
  }
  .card{
    min-width: 30rem;
    max-width: 100%;
  }

  /*  Administration */
  .administration-item{
    padding: 2rem 0;
  }

  /* Integrations */
  .integration-list{
    grid-gap: 3.5rem;
  }
  .integration-item{
   &:last-child{
     display: none;
   }
  }
  .integration-footer{
    p{
      max-width: initial;
    }
    a{
      font-size: 1.4rem;
    }
  }

  /* Footer */
  .footer-col{
    flex-basis: 50%;
    padding-right: 0;
  }
  .footer-bottom{
    .container{
      flex-direction: column;
      grid-row-gap: 1.5rem;
    }
    .another-links{
      order: 2;
    }
  }
  .social-media{
    justify-content: flex-start;
    order: 1;
  }
}