/* Global*/
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue:#24292e;
  --white:#ffffff;
  --black:#000000;
  --blue:#0000ff;
  --science-blue:#0366D6;
  --azure-radiance:#1074e7;
  --congress-blue:#044289;
  --gray:#808080;
  --gray-2:#586069;
  --outer-space:rgb(43,49,55);
  --athens-gray:rgb(225, 228, 232);
  --athens-gray-2:#FAFBFC;
  --athens-gray-3:#e1e4e8 ;
  --pink:#ffc0cb;
  --red:#ff0000;
  --yellow:#ffff00;
  --endeavour:#0065a9;
  --lochmara:#007acc;
  --egg-blue:#00cfc8;
  --Daintree: #022531;
  --sapphire:#040d21;
  --british-racing-green:#041027;
  --black-pearl:#051127;
  --cinder:#1e2327;
  --dodger-blue:#1f9cf0;
  --shark:#23292f;
  --mine-shaft:#303030;
  --Emerald:#34d058;
  --Chambray:#364e98;
  --Fiord:#424d65;
  --river-bed:#465061;
  --grape:#4a154b;
  --fern:#5fb57d;
  --malibu:#79b8ff;
  --bali-hai:#8392ad;
  --regent-gray:#959da5;
  --solitude:#dadfe9;
  --dark-pink:#ea4aaa;
  --burnt-sienna:#ed4e50;
  --bright-sun:#ffd33d;
  --mischka:#d0d6df;
  --black-squeeze:#eff9f9;
  --concrete:#f2f2f2;
  --twilight-blue:#f0ffff;
  --coral:#ff7f50;
  --japanese-laurel:#008000;
  --web-orange:#ffa500;
  --fresh-eggplant:#800080;
  --dark-grayish-blue: rgb(43, 49, 55);
  --aqua-haze:#f6f8fa;
  --pale-sky:#6A737D;
  --iron:#D1D5DA;
  --chateau-green:#2ebc4f;
  --eucalyptus:#28a745;
  --forest-green:#22863a;
  --bs-lg: 0 8px 24px rgba(149,157,165,.2);
}

html {
  font-size: 10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  line-height: 1.5;
  color: var(--dark-blue);
  background-color: var(--white);
}

ul {
  list-style: none;
}

a {
  color: var(--science-blue);
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 4rem;
}

section {
  padding: 5rem 0;
}

.ff-inter {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.btn-outline-blue {
  border-radius: 0.6rem;
  transition: 0.2s;
  padding: 1.6rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 2.5rem;
  border: 1px solid rgba(16, 116, 231, 0.5);
}
.btn-outline-blue:hover .fa-long-arrow-alt-right {
  padding-left: 0.5rem;
}
.btn-outline-blue i {
  font-size: 0.9rem;
  width: 2rem;
  transition: all 0.3s ease-in-out;
}
.btn-outline-blue:hover {
  color: var(--science-blue);
  border-color: var(--azure-radiance);
}

/* End Global */
/*Header */
header {
  height: 7.2rem;
  padding: 0.8rem 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
header .container {
  padding: 0 2rem;
}

nav {
  display: flex;
  align-items: center;
  padding: 0.8rem 0;
}

.nav-main-links {
  display: flex;
}

.nav-form {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-logo {
  flex: 0 0 5.6rem;
}
.nav-logo i {
  font-size: 3.2rem;
  color: var(--white);
}

.nav-main-menu {
  flex: 2 1 auto;
}

.nav-main-item {
  padding: 0 0.6rem;
  position: relative;
  transition: 0.5s;
}
.nav-main-item:hover .nav-dropdown-menu {
  visibility: visible;
  opacity: 1;
}

.nav-main-link {
  color: var(--white);
  font-size: 1.6rem;
}
.nav-main-link i {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.5);
}

.nav-dropdown-menu {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background: var(--white);
  position: absolute;
  top: 100%;
  left: -1rem;
  width: 30rem;
  border-radius: 0.6rem;
  padding: 2rem 2.5rem;
  box-shadow: 0px 0px 1px 1px #1B1F23;
}

.dropdown-body {
  border-bottom: 1px solid var(--athens-gray);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.dropdown-footer-bold .nav-dropdown-link {
  font-weight: 600;
}

.dropdown-menu-title a {
  color: var(--dark-blue);
  font-size: 1.4rem;
  font-weight: 600;
}

.nav-dropdown-item {
  padding: 0.5rem 0;
}

.nav-dropdown-link {
  color: var(--gray-2);
  font-size: 1.4rem;
  padding: 0.8rem 0;
}

.search-form {
  width: 24rem;
  height: 3.6rem;
  background-color: rgba(255, 255, 255, 0.125);
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  position: relative;
}
.search-form:focus-within {
  background-color: var(--white);
  border-bottom-left-radius: initial;
  border-bottom-right-radius: initial;
}
.search-form:focus-within:after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 110%;
  height: 0.2rem;
  background-color: var(--athens-gray);
  z-index: 1;
}
.search-form:focus-within img {
  display: none;
}
.search-form input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.5rem;
  font-weight: normal;
  color: var(--white);
}
.search-form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.search-form input:focus {
  color: var(--dark-blue);
}
.search-form img {
  width: 19px;
}

.search-hint {
  position: absolute;
  left: 0;
  top: 100%;
  padding: 2rem 1rem;
  background: var(--science-blue);
  border: 1px solid var(--athens-gray);
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  width: 110%;
  height: inherit;
  z-index: 2;
  font-weight: 400;
  align-items: center;
  justify-content: space-between;
  display: none;
}
.search-hint .fa-search {
  font-size: 1.6rem;
  color: var(--white);
}

.search-text {
  font-size: 1.4rem;
  color: var(--white);
}

.all-github {
  background-color: var(--aqua-haze);
  border-radius: 0.6rem;
  padding: 0.3rem 0.5rem;
  color: var(--pale-sky);
  position: relative;
  font-size: 1.2rem;
  line-height: initial;
}
.all-github span {
  margin-right: 1.5rem;
}
.all-github i {
  position: absolute;
  bottom: 20%;
  right: 10%;
  font-size: 0.8rem;
  transform: rotate(90deg);
  margin-left: 0.5rem;
}

.btn-login {
  color: var(--white);
  font-size: 1.6rem;
  transition: opacity 0.4s;
  margin: 0 1.6rem;
}
.btn-login:hover {
  opacity: 0.75;
}

.btn-register {
  color: var(--white);
  font-size: 1.6rem;
  border-radius: 0.6rem;
  border: 1px solid var(--iron);
  padding: 0.4rem 0.8rem;
  transition: opacity 0.4s;
}
.btn-register:hover {
  opacity: 0.75;
}

/* End Header */
/* Hero*/
.hero {
  background-image: url("https://github.githubassets.com/images/modules/site/heroes/simple-codelines.svg");
  background-position-x: center;
  background-position-y: 10%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--outer-space);
  height: calc(100vh - 3.6rem);
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.hero .container {
  height: 100%;
}

.hero-content {
  display: flex;
  width: 110rem;
  max-width: 100%;
  height: 100%;
  margin: 1rem auto 0;
}

.hero-text-wrap {
  flex-basis: 55%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  width: 75%;
}

.hero-title {
  color: var(--white);
  font-size: 6.4rem;
  font-weight: 500;
  display: block;
  margin-bottom: 1rem;
  line-height: 1;
}

.hero-description {
  display: block;
  font-size: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}
.hero-description a {
  color: var(--white);
}

.hero-form {
  flex-basis: 40%;
}

.sign-up-form {
  background-color: var(--athens-gray-2);
  padding: 2rem;
  border-radius: 0.6rem;
  box-shadow: 0px 0px 1px 1px #1B1F23;
}

.form-group {
  margin-bottom: 1.6rem;
}
.form-group label {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--dark-blue);
  display: block;
  margin-bottom: 0.5rem;
}
.form-group input {
  border: 1px solid var(--athens-gray-3);
  border-radius: 0.5rem;
  background-color: transparent;
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--dark-blue);
  outline: none;
  box-shadow: inset 0 1px 0 rgba(225, 228, 232, 0.2);
  padding: 1rem;
  width: 100%;
}
.form-group input:focus {
  border-color: var(--science-blue);
  box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
}

.form-description {
  font-size: 1.2rem;
  color: var(--dark-blue);
}

.btn-sign-up {
  margin: 1.6rem 0 3.2rem;
  background-color: var(--chateau-green);
  border-color: var(--chateau-green);
  padding: 2rem 3.2rem;
  border-radius: 0.6rem;
  color: var(--white);
  font-weight: 500;
  font-size: 1.6rem;
  display: block;
  text-align: center;
}
.btn-sign-up:hover {
  background-color: var(--eucalyptus);
  border-color: var(--eucalyptus);
}

.footer-description {
  color: var(--pale-sky);
  font-size: 1.2rem;
}

/* End Hero*/
main {
  margin-top: 100vh;
}

/* Github Enterprise */
.enterprise-head-img {
  position: absolute;
  top: -16.5rem;
  right: 0;
  width: 45rem;
}

.enterprise-content {
  background-color: var(--white);
  border-radius: 0.6rem;
  box-shadow: var(--bs-lg);
  padding: 4.8rem;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 4rem;
}

.enterprise-title {
  flex-basis: 40%;
  padding-right: 12rem;
}
.enterprise-title h2 {
  color: var(--dark-blue);
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  line-height: 4rem;
}
.enterprise-title p {
  color: var(--gray-2);
  font-size: 2rem;
}

.enterprise-item {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.enterprise-item img {
  width: 5rem;
}
.enterprise-item h3 {
  margin-top: 1rem;
  color: var(--dark-blue);
  font-size: 1.6rem;
  font-weight: 500;
}
.enterprise-item p {
  color: var(--gray-2);
  font-size: 1.4rem;
}
.enterprise-item .btn {
  border-radius: 0.6rem;
  transition: 0.2s;
  padding: 1.6rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 2.5rem;
}

.btn-free-trial {
  background-color: var(--azure-radiance);
  color: var(--white);
}
.btn-free-trial:hover {
  background-color: var(--science-blue);
  border-color: var(--science-blue);
}

/* End Github Enterprise */
/* Github For Team */
.github-for-teams {
  margin-top: 6rem;
}

.for-teams-content {
  background-color: var(--congress-blue);
  border-radius: 0.6rem;
  box-shadow: var(--bs-lg);
  padding: 3.6rem;
  position: relative;
  display: flex;
  z-index: 1;
}
.for-teams-content:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: url("https://github.githubassets.com/images/modules/site/patterns/contribution-graph.svg");
  background-size: 80% auto;
  mix-blend-mode: multiply;
  z-index: -1;
}
.for-teams-content .warning {
  flex: 0 0 4.5rem;
  padding-top: 1rem;
}
.for-teams-content .description {
  flex-basis: 60%;
  padding-left: 2rem;
  color: var(--white);
}
.for-teams-content .description h2 {
  font-size: 2.4rem;
  font-weight: 600;
}
.for-teams-content .description p {
  font-size: 1.6rem;
}

.new-warning {
  border: 1px solid var(--eucalyptus);
  color: var(--forest-green);
  border-radius: 10rem;
  text-align: center;
  padding: 0 7px;
  font-size: 12px;
  font-weight: 500;
}

.try-github-free {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn-try-github-free {
  display: inline-block;
  background-color: var(--azure-radiance);
  color: var(--white);
  border-radius: 0.6rem;
  padding: 1.6rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  width: 60%;
}

/* End Github For Team */
/*  Organizations */
.organizations-content {
  display: flex;
  flex-direction: column;
}

.organizations-title {
  text-align: center;
  color: var(--pale-sky);
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.organizations-list {
  max-width: 100rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.organization-item {
  padding: 2rem 4rem;
  display: flex;
}

.organization-logo {
  max-height: 2.5rem;
  width: initial;
  color: var(--dark-blue);
  filter: grayscale(100%);
}

/* End Organizations */
/* Github Team Signup */
.teams-content {
  max-width: 80rem;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.teams-content .sm-description {
  color: var(--gray-2);
  font-size: 1.6rem;
}
.teams-content .title {
  color: var(--dark-blue);
  font-size: 4.8rem;
  font-weight: 500;
}
.teams-content .description {
  color: var(--gray-2);
  font-size: 2rem;
  font-weight: 400;
}

.btn-teams-sign-up {
  font-size: 1.6rem;
  display: inline-block;
}

/* End Github Team Signup */
/* Features */
.features-content {
  display: flex;
}

.features-head-img {
  flex: 10;
  padding-right: 5rem;
  position: relative;
}

.features-list {
  flex: 7;
}

.features-item-img {
  position: absolute;
  top: 0;
  right: 10%;
  width: 25%;
}
.features-item-img img {
  display: none;
}
.features-item-img .active {
  display: block;
}

.features-item {
  padding: 2.4rem;
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  border: 1px solid transparent;
  cursor: pointer;
}
.features-item:hover {
  border-color: var(--iron);
  box-shadow: var(--bs-lg);
}
.features-item:hover .arrow-right-icon {
  filter: initial;
}
.features-item .arrow-right-icon {
  margin-left: 5.5rem;
  font-size: 1.4rem;
  filter: grayscale(100%);
  transition: filter 0.3s;
  color: var(--science-blue);
}

.features-item-title {
  font-size: 2rem;
  font-weight: 400;
  color: var(--dark-blue);
  margin-bottom: 0.5rem;
}

.features-item-description {
  color: var(--dark-blue);
  font-size: 1.4rem;
}
.features-item-description a {
  padding-bottom: 0.01rem;
  border-bottom: 1px solid rgba(16, 116, 231, 0.5);
  transition: all 0.3s;
}
.features-item-description a:hover {
  border-bottom: 1px solid var(--science-blue);
}

/* End Features */

/*# sourceMappingURL=main.css.map */
